/*doc
---
title: Style Guide README
name: styleguide
category: styleguide
---

The purpose of this style guide is to document components and styling.
All CSS must be documented a la Hologram in order for it to show up in build/
and dist/.

[You can learn more about style guide documentation at Hologram's website] (https://github.com/causes/scss-lint/blob/master/lib/scss_lint/linter/README.md)

*/

