<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PWE styleguide: <%= title %></title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="static/css/doc.css">
    <link rel="stylesheet" href="static/css/github.css">
    <link rel="stylesheet" href="static/css/screen.css">
    <link rel="stylesheet" href="static/css/container.scss">
    <link rel="stylesheet" href="static/css/site.css">

    <!-- CSS to be documented -->
    <link rel="stylesheet" href="./main_unfiltered.css">

    <!-- Component JS -->
    <!-- TODO: Add JS styleguide documentation later -->
    <script src="static/js/components.js"></script>

  </head>
  <body class="">
    <header class="header pbn" role="banner">
      <div class="backgroundHighlight typeReversed1">
        <div class="container">
          <h1 class="h2 mvs white">PWE Style Guide</h1>
        </div>
      </div>
      <div class="backgroundLowlight typeReversed1">
        <div class="container">
          <span>
            <nav>
              <ul>
              <% @categories.each do |category, file_name| %>
                <li><a href="<%= file_name %>"><%= category %></a></li>
              <% end %>
              </ul>
            </nav>
          </span>
        </div>
      </div>
      <!-- //header/container -->
    </header>

    <div class="Container content">
      <div class="line">

        <div class="col cols4">
          <div class="box boxBasic backgroundBasic">
            <div class="boxBody pan">
              <ul class="componentList listBorderedHover">
                <% @blocks.each do |block| %>
                  <li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>

        <div class="main col cols20 lastCol">
